* {
    margin:0px;
    padding:0px;
    outline: none;
    list-style: none;
    text-decoration-color: none;
    border: none;
    background: transparent;
    vertical-align: baseline;
    font-family: oldEnglish;
}
